<div class="body">
    <div class=container>
      <%= flash[:sign_in] %>
      <div class="row">
        <%= render 'layouts/user_info', book: @book%>
        <div class="col-xs-9">
          <h2>Users</h2>
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>image</th>
                <th>name</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                  <tr>
                  <td></td>
                  <td><%= attachment_image_tag current_user, :avatar,  class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg",  size:'60x60' %></td>
                  <td><%= user.name %></td>
                  <td><%= link_to "Show", user_path(user.id) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
